* {
    margin: 0;
    padding: 0;
}

#principal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "header header header header header"
    "aside main main main main"
    "footer footer footer footer footer"
    ;
    grid-template-rows: 2fr 5fr 1fr;
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
    background-color: gold;
}

aside {
    grid-area: aside;
    background-color: yellow;
}

main {
    grid-area: main;
    background-color: chartreuse;
    padding: 20px;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background-color: powderblue;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    background-color: gold;
    margin-top: 15px;
}

#Lateral {
    padding: 14px;
}

#AbrirFecha {
    margin-bottom: 30px;
}