* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#principal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "header header header header header"
    "aside main main main main"
    "footer footer footer footer footer"
    ;
    grid-template-rows: 2fr 5fr 1fr;
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
    background-color: turquoise;
}

nav {
    padding: 20px;
    text-align: center;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
    padding: 20px;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background-color: powderblue;
    padding: 20px;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    margin: 10px;
}

li {
    background-color: gold;
    margin-top: 15px;
}

#Lateral {
    padding: 14px;
}

#AbrirFecha {
    margin-bottom: 30px;
}

#inicio-cabeca {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    height: 50px;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 10px;
}

.shop-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input {
    width: 50%;
    height: 38px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 15px;
}