/* Configurações Gerais */
.checkout-body {
    background: #f4f4f4;
    font-family: sans-serif;
}

.checkout-header {
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-title {
    letter-spacing: 2px;
    font-weight: 800;
}

/* Layout */
.checkout-container {
    max-width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    padding: 20px;
}

.payment-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Métodos de Pagamento */
.method-select {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.method-card {
    flex: 1;
    border: 2px solid #eee;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.method-card i {
    font-size: 30px;
}

.method-card.active {
    border-color: #2d005d;
    background: #f4e8ff;
}

/* Formulários e Inputs */
.hidden { display: none; }

.input-group { margin-bottom: 15px; }
.input-group label { display: block; margin-bottom: 5px; font-size: 14px; }
.input-group input { width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; }

.row { display: flex; gap: 10px; }
.flex-2 { flex: 2; }
.flex-1 { flex: 1; }

.pix-container { text-align: center; }
#qr-placeholder { font-size: 100px; color: #ccc; }

/* Resumo */
.summary-box {
    background: #fdfdfd;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #eee;
    height: fit-content;
}

#lista-resumo {
    margin: 15px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.total-pay {
    font-size: 24px;
    color: #2d005d;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.btn-buy {
    width: 100%;
    background: #2d005d;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}